* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#body-index {
    background-color: #dd634a;
}

#body-escolaridade {
    background-color: #ddce4a;
}

#body-idiomas {
    background-color: #6cdd4a;
}

#body-profissionais {
    background-color: #4ad8dd;
}

#body-pessoais {
    background-color: #4a79dd;
}

#email {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

hr {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#titulo {
    text-align: center;
    margin-top: 15px;
}

#principal {
    background-color: white;
    height: auto;
    width: 600px;
    margin: auto;
    border-radius: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 30px;
}

#escolaridade, #gostos, #idiomas, #experiencias, #curriculo {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}

#sub-titulo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.foto {
    height: 150px;
    width: 275px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#foto-badge {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#lista {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    list-style-type: square;
}

#volta {
    background-color: white;
    border: none;
    font-size: 48px;
    text-decoration: none;
    -webkit-transition: background-color 100ms ease-in;
    -moz-transition: background-color 100ms ease-in;
    -o-transition: background-color 100ms ease-in;
    -ms-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;
}

#volta:hover {
    background-color: black;
}

a {
    background-color: white;
}

.mais-info {
    color: black;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

.mais-info:hover {
    color: #dd634a;
}
